{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="Python, Django, Movies, Recommendations, Blog, Tazama" />
  <meta name="description" content="Movie Recommendation Engine, Movie Recommendation Web App" />
  <meta name="author" content="Mithamo Beth" />
  <link rel="stylesheet" type="text/css" href="{% static 'movies/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'movies/about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'movies/movies.css' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'movies/images/favicon/favicon-16x16.png' %}" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Ubuntu&effect=neon|outline|emboss|shadow-multiple" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://kit.fontawesome.com/98d7ad45d3.js" crossorigin="anonymous"></script>
  <title>Tazama</title>
</head>

<body>
  <section id="hero">
    <div class="hero background">
      <!----------- Navigation Bar -------------->
      <div class="menu__wrapper">
        <div class="menu__bar">
          <p class="logo" onclick="refreshPage()"><b>taz</b><span>ama</span></p>
          <p class="tagline">
            <span class="slide1">Where your next watch&nbsp;</span>
            <span class="slide2">Is a perfect match</span>
          </p>
          <img class="menu-icon"
            src="{% static 'movies/images/menu.png' %}" style="color:white;"
            title="Burger Menu" 
            alt="Burger Menu"  onclick="toggleMenu(this)"
          >
          <ul class="navigation">
            <li><a href="#about">About</a></li>
            <li><a href="{% url 'movie_list' %}">Movies</a></li>
            <li><a href="{% url 'blog-home' %}">Zaunity</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
          </ul>
        </div>
      </div>
      
      <div class="hero-content">
        <div class="hero-title">
          <h1 class="font-effect-outline">Great Movies Live Here</h1>
          <h1 class="font-effect-outline">What's Your Next Watch?</h1>
        </div>
        <div id="toggle_button" class="hero-button">
          <button onclick="toggleForm()">
            Get a recommendation <span class="raquo">&raquo;</span>
          </button>
        </div>
        <div id="search_form" class="search-bar" style="display: none">
          <form method="GET" action="{% url 'movie_recommend' %}">
            <div class="movie_input">
              <label for="movie">Search for a movie by title or year (1900 - 2018)</label>
              <input type="search" 
                     id="movie" 
                     name="query" 
                     value="{{ request.GET.query }}" 
                     placeholder="Search movie..." 
                     autocomplete="on" 
                     title="Movie suggestions: 
                            Die Hard(1990),
                            Forrest Gump (1994)
                            Little Women(1994), 
                            Heat(1995),
                            Shrek 2 (2004),
                            Avatar(2009),
                            Prison Break: The Final Break (2009),
                            Black Panther(2017)"/>
            </div>
            <input type="submit" value="Recommend" />
          </form>
        </div>
      </div>
    </div>
  </section>

  <!--------------------- How Tazama Works -------------->
  <section id="about">
    <div>
       <h1 class="about-title">How <span>tazama</span> works</h1>
    </div>
    <div class="about container">
      <article class="card">
        <div class="card-background">
          <img src="{% static 'movies/images/search1.jpeg' %}" alt="search" />
        </div>
        <div class="content">
          <h1>Search</h1>
          <p>
            Over 9000 movies to choose from. Search by movie title or year (1900 - 2018).
            <br>
            <a href="{% url 'movie_list' %}" title="movielist">Available Movies</a>
          </p>
        </div>
        <div class="action-bottom-bar">
          <a href="{% url 'movie_list' %}">
            Search
            <i class="fa-solid fa-chevron-right" style="color: #4178d8"></i>
          </a>
        </div>
      </article>

      <article class="card">
        <div class="card-background">
          <img src="{% static 'movies/images/recom.jpeg' %}" alt="discover" />
        </div>
        <div class="content">
          <h1>Discover</h1>
          <p>
            Get instant and unlimited recommendations based on similar movies you've watched before<br>
            <a href="{% url 'movie_list' %}" title="movielist">Available Movies</a>
          </p>
        </div>
        <div class="action-bottom-bar">
          <a href="{% url 'movie_list' %}">
            Discover
            <i class="fa-solid fa-chevron-right" style="color: #4178d8"></i>
          </a>
        </div>
      </article>

      <article class="card">
        <div class="card-background">
          <img src="{% static 'movies/images/cover2.jpg' %}" alt="register" />
        </div>
        <div class="content">
          <h1>Register</h1>
          <p>
            Sign up and join the tazama blogging community, <b><i style="color: orangered;">Zaunity.</b></i>
            Interact with other movie lovers.<br>
            <a href="{% url 'register' %}" title="signup">Sign Up</a>
          </p>
        </div>
        <div class="action-bottom-bar">
          <a href="{% url 'register' %}">
            Register
            <i class="fa-solid fa-chevron-right" style="color: #4178d8"></i>
          </a>
        </div>
      </article>
    </div>
  </section>

  <!--------------------- Available Movies -------------->
  <section id="movie">
    <div>
      <h1 class="movie-title" style="margin:30px; padding-bottom:30px;">Featured<span> tazama</span> movies</h1>
    </div>
    <div class="movie-list "></div>
    <div class="action-buttons">
 
      <a href="https://twitter.com/JustBmm/status/1725900653027860833" target="_blank"
         class="action-button action-button--primary">
        <i class="fa-regular fa-heart" style="color: #333333; font-size:24px;"></i>
          Twitter
      </a>   
    
      <a aria-expanded="false" 
        href="https://medium.com/@MithamoBeth/tazama-a-django-movie-recommendation-web-app-062a62a08228" target="_blank"
        class=" action-button action-button--primary">
        <i class="fa-solid fa-hands-clapping" style="color: #333333; font-size:24px;"></i>
          Medium
      </a>      

      <a aria-expanded="false" href="https://www.linkedin.com/in/mithamo-beth/" target="_blank" 
         class="action-button action-button--primary">
        <i class="fa-regular fa-thumbs-up" style="color: #333333; font-size:24px;"></i>
        LinkedIn
      </a>
      <button id="action-button--previous" class="action-button--horizontal-scroll"
      type="button" disabled>
        <i class="fa-solid fa-hand-point-left" style="color: #3b69ba;"></i>
      </button>
      <button id="action-button--next" class="action-button--horizontal-scroll"
      type="button" disabled>
        <i class="fa-solid fa-hand-point-right" style="color: #3b69ba;"></i>
      </button>
    </div>
    <div style="margin-bottom: 20px;"></div>
    <div id="bank-accounts">
      {% for movie_detail in details_list %}
      <a href="" class="bank-account">
        <img class="flag"
             aria-hidden="true"
             src={{movie_detail.poster_url}}
             alt={{movie_detail.title}}>
        <div>
             <h3 role="presentation">
                {{movie_detail.title}}
             </h3>
             <div class="currency">
                {{movie_detail.genre_names}}
             </div>
        </div>
      </a>
      {% endfor %}
    </div>

    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center" style="margin:20px 0">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                {% else %}
                    <li class="page item disabled"></li>
                {% endif %}

                {% for pages in page_obj.paginator.page_range %}
                    {% if page_obj.number == pages %}
                        <li class="page-item active"><a class="page-link "href="#movie">{{ pages }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}


  </section>

  <!--------------------- Footer Section -------------->
  <section id="footer">
    <footer>
      <p>Connect with Mithamo</p>
      <div>
        <a href="https://medium.com/@MithamoBeth/tazama-a-django-movie-recommendation-web-app-062a62a08228" target="_blank">
          <i class="fa-brands fa-medium" style="color: #a2a7ae"></i>
        </a>
        <a href="https://twitter.com/JustBmm/status/1725900653027860833" target="_blank">
          <i class="fa-brands fa-linkedin" style="color: #a2a7ae"></i>
        </a>
        <a href="https://www.linkedin.com/in/mithamo-beth/" target="_blank">
          <i class="fa-brands fa-square-x-twitter" style="color: #a2a7ae"></i>
        </a>
        <a href="https://github.com/Mythamor/Tazama-A-Movie-Recommendation-Web-App" target="_blank">
          <i class="fa-brands fa-github" style="color: #a2a7ae"></i>
        </a>
        <hr />
        <p>Copyright &copy 2023 tazama. All Rights Reserved.</p>
        <p><a href="{% url 'disclaimer' %}" style="font-size: 16px;">Disclaimer</a>| Licenses</p>
      </div>
    </footer>
  </section>
 <!-- JQuery JS & UI -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static '../static/movies/js/home.js' %}"></script>
  <script>
    $(function () {
      $("#movie").autocomplete({
        source: function (request, response) {
          // AJAX request to get movie recommendations as the user types
          $.ajax({
            url: "/search/",  // Replace with your actual API endpoint
            dataType: "json",
            data: {
              query: request.term,
            },
            success: function (data) {
              response(data);
            },
          });
        },
        minLength: 2,  // Minimum characters before triggering autocomplete
        select: function (event, ui) {
          // Handle the selection of a movie
          console.log("Selected movie:", ui.item.label);
        },
      });
    });
  </script>
</body>
</html>