{% extends 'movies/base.html' %}

{% block content %}
       <!-------------------------- Movie Genres -------------------------->
      <div class="container mt-4">
        <form method="GET" action="{% url 'movie_genres' genres='selected_genre' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="genreSelect">Select Genre:</label>
            <select class="form-control" id="genreSelect" name="selected_genre">
                <option value="" selected>All Genres</option>
                {% for genre in genres %}
                    <option value="{{ genre.name }}">{{ genre.name }}</option>
                {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-outline-info mt-4">Filter</button>
        </form>
    </div>

     
    <div class="container mt-5 px-4">
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 row-cols-lg-6 g-3">
          {% for movie_detail in details_list%}
              <div class="col mb-4">
                <div class="card-deck shadow-md">
                  <img src="{{movie_detail.poster_url}}" alt={{movie.title}} style="height:200px;">
                  <div class="card-body">
                    <h5 class="card-text mt-3">{{movie_detail.title}}</h5>
                     <p class="card-text">{{movie_detail.genre_names}}</p>
                    <div class="d-flex justify-content-start">
                      <!--<div class="btn-group">
                        <a href="" class="btn btn-outline-secondary fixed-width">{{movie_detail.tagline}}</a>
                      </div>-->
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
          {% empty %}
          <div style="margin: auto; padding:50px 0;">
              <h3 style="text-align:center;">There are no movies in this category.</h3>
          </div>
          {% endfor %}
      </div>
    </div>

    <div class="container d-flex justify-content-center mt-5">
      {% if is_paginated %}
          {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4 mr-2" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4 mr-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-info mb-4 mr-2" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4 mr-2" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4 mr-2" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4 mr-2" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
      {% endif %}
    </div>

{% endblock %}


