{% extends 'movies/base.html' %}
{% block content %}

    <!------------------ Recommendation Cards -------------------------->
    <section id="recommendations">
      <div class="background">
        <h3 style="text-align:center; color: #333333;">Recommendations on {{ request.GET.query }}</h3>
        <div class="gallery">
          {% for movie in details_list%}
            <div class="card">
              <figure>
                <img src="{{movie.poster_url}}" alt="{{movie.title}} poster">
              </figure>
              <div class="movie-title">
                <h6>{{movie.title}}</h6>
              </div>
            </div>
          {% endfor %}
        </div>
        <div>
           <button type="button" class="btn btn-info p-3 m-5" style="font-size:1.5rem" onclick="goBack()">Get More Recommendations</button>
        </div>
      </div>
  </section>

{% endblock %}
    
