{% extends "blog/base.html" %}


{% block content %}
    <div class="content-section">
        <h4>This web app is built strictly for educational purposes.</h4>
        <h6>The tazama developer, <b>Mithamo Beth</b>, built this web app as her ALX Software Engineering, end of foundations project.</h6>
        <h6>The Site and the Services are made available only for personal, non-commercial use, and the Site, the Services, <br>
            any Contributions, or Materials , may not be used in connection with any commercial endeavors.
        <h6>This product uses the TMDb API but is not endorsed or certified by TMDb.</h6>
    </div>
{% endblock %}